{# Cette vue n'hérite de personne. Elle est en électron libre. #}

<p>{{ 'advert.total'|transchoice(listMarkers.count) }}</p>
	
{% if nbPages > 0 %}
	<ul>
		{% for marker in listMarkers %}
			<li>
				{% if marker.advert.image is not null %}<img src="{{ asset(marker.advert.image.webPath) }}" height="28" alt="{{ marker.advert.image.alt }}" />{% endif %}
				<a href="{{ path('gbrfix_platform_view', {'advert_id':marker.advert.id}) }}">{{ marker.advert.title }}</a>
			</li>
		{% endfor %}
	</ul>
	
	<ul class="pagination">
		{# On utilise la fonction range(a,b) qui créé un tableau de valeurs entre a et b #}
		{% for p in range(1, nbPages) %}
			<li {% if p==page %} class="active"{% endif %}>
				<a href="{{ path('gbrfix_platform_home', {'page':p}) }}">{{ p }}</a>
			</li>
		{% endfor %}
	</ul>
{% endif %}